.body-content {
	margin-top: 80px;
}

.help-block {
	font-size: 12px;
}

#addBillingSpan {
	display: block;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.productImage {
	width: 100px;
}

.featuredProductImage {
	max-height: 260px;
}

#productList {
	margin-bottom: 0px;
}

.productTable dt {
	text-align: left;
}

.productInfo dt {
	text-align: left;
}

#tablePaginator {
	text-align: right;
}
.pagination li a {
	background-color: #2c3e50;
}

.pagination li a:hover, .pagination > .active > a:hover {
	background-color: #385067;
}

.pagination > .active > a {
	background-color: #4a6886;
}

.quantityInput {
	width: 50px;
}

.titleHeader {
	font-size: 30px;
}
.priceHeader {
	font-size: 25px;
}

.specName {
	background-color: #f1f1f1;
}